body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout{
    width: 100%;
}

.body{
    height:620px;
}

.nav td:nth-child(1){
    width: 80%;
}

.tabel{

    margin: auto;

}

.container td{
    width: 200px;
}

.footer div{
    margin: 0 auto;
    /* background-color: red; */
    width: 300px;
    text-align: center;
    color: white;
}

.tabel thead{
    text-transform: capitalize;
}

.tabel tbody{
    text-align: center;
}

.tabel tbody ul{
    text-align: left;
}

img{
    width: 100%;
}

.tabel tbody tr:nth-child(even){
    background-color: violet;
}